.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

label {
  color: #5b5959;
}

.required {
  color: red;
  margin-left: 2px;
}

.modal label {
  font-size: 14px;
  font-weight: 500;
}

.modal select,
input,
textarea {
  padding: 4px 6px;
  font-size: 14px;
}
