.danger {
  background: #dc2626;
  color: white;
}

/* height: max-content;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    background: #2b2becc2;
    cursor: pointer; */